---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import siteMetadata from "@/content/sideMetaData";
import { TextRevealTW } from "@/components/feature/TextRevealTW";

const metaData = {
  title: 'About',
  description: siteMetadata.description
};

---

<PageLayout>
  <PageMeta  slot="meta" {...metaData}/>
  <section slot="main" class="px-6 py-12 max-w-7xl mx-auto min-h-[80vh]">
    <TextRevealTW as="h1" className='text-3xl mb-4 font-bold uppercase md:text-5xl' content="About" />
    <p>
      Purpose of this blog is to share my learnings and experiences in the field of software development.
    </p>
  </section>
</PageLayout>

