---
import navLinks from "@/content/NavLinks";
---

<nav class="flex flex-col items-center justify-center gap-4 px-4 py-4 max-w-7xl mx-auto md:flex-row md:justify-between md:px-6 md:gap-5">
  <div class="flex items-center gap-2 shrink-0">
    <a href="/" class="flex items-center gap-2">
      <img src="/favicon.ico" alt="Paw Logo" class="w-6 h-6" />
      <span class="text-xl font-bold">Javier Nguyen</span>
    </a>
  </div>
  <ul class="flex flex-wrap items-center justify-center gap-x-5 gap-y-2 md:gap-8">
    {
      navLinks.map((item) => (
        <li>
          <a href={item.href} class="hover:text-gray-600 lowercase text-lg" data-astro-prefetch>
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
