---
import navLinks from "@/content/NavLinks";
---

<nav class="flex items-center md:justify-between px-6 py-4 max-w-7xl mx-auto md:flex-row flex-col justify-center gap-5">
  <div class="flex items-center gap-2">
    <!-- <img src="/placeholder.svg" alt="Paw Logo" class="w-6 h-6" /> -->
    <span class="text-xl font-bold">Javier Nguyen</span>
  </div>
  <ul class="flex items-center gap-8">
    {
      navLinks.map((item) => (
        <li >
          <a href={item.href} class="hover:text-gray-600 lowercase text-lg">
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
