---
import Heading from "./ui/Heading.astro";
---

<section class="wrapper">
  <Heading
    as="h1"
    class="name gradient-text gradient-color outline outline-color"
  >
    Nhat Nguyen
  </Heading>
  <p class="subtext">Web Developer. OSS Wizard. Blogger.</p>
  <p class="hello">
    Hello! Welcome to my blog. This blog is powered by 
    <a class="animated" href="https://github.com/flexdinesh/blogster" target="_blank">Blogster</a>
    and 
    <a class="animated" href="https://astro.build/" target="_blank">Astro</a>.
  </p>
  
  <p>I'm <strong>Javier</strong>, a developer from Vietnam. I'm passionate about web development and software, and I enjoy using technology to solve problems and create new things.</p>
  
  <p>The main languages I use for programming are <code>JavaScript</code> , and I'm always looking to learn more and expand my knowledge. Some of my recent projects can be found on my <a href="https://github.com/javier1234559">GitHub</a> page or visit my portfolio website at <a href="https://javier1234559.github.io/Javersy-Portfolio/">Javersy Portfolio</a>.</p>

  <h2>Statistics</h2>

  <div>	
    <img width="48%" src="https://github-readme-streak-stats.herokuapp.com?user=javier1234559&theme=tokyonight&date_format=M%20j%5B%2C%20Y%5D" />
    <img width="48%" src="https://github-readme-stats.vercel.app/api?username=javier1234559&show_icons=true&theme=tokyonight" />
  </div>

  <div>
    <img width="40%" src="https://github-readme-stats.vercel.app/api/top-langs/?username=javier1234559&theme=tokyonight&hide_border=false&include_all_commits=true&count_private=true&layout=compact" />
  </div>

  <div>
    <picture>
      <source media="(prefers-color-scheme: dark)" srcset="https://raw.githubusercontent.com/javier1234559/javier1234559/output/github-contribution-grid-snake-dark.svg">
      <source media="(prefers-color-scheme: light)" srcset="https://raw.githubusercontent.com/javier1234559/javier1234559/output/github-contribution-grid-snake.svg">
      <img alt="GitHub contribution grid snake animation" src="https://raw.githubusercontent.com/javier1234559/javier1234559/output/github-contribution-grid-snake.svg">
    </picture>
  </div>

  <p><strong>Note:</strong> The languages and tools mentioned below are those I am currently using. They may not reflect my experience or skill level.</p>

  <h2>Knowledge</h2>
  
  <h3>Languages</h3>
  <p>
    <a href="https://github.com/javier1234559/"><img src="https://shields.io/badge/TypeScript-black?logo=TypeScript&logoColor=#3178c6&style=flat-square" alt="TypeScript" /></a>
    <a href="https://github.com/javier1234559/"><img src="https://img.shields.io/badge/-JavaScript-black?style=flat-square&logo=javascript" alt="JavaScript" /></a>
    <a href="https://github.com/javier1234559/"><img src="https://img.shields.io/badge/c++-000?style=flat-square&logo=c%2B%2B&logoColor=#00599C" alt="C++" /></a>
    <a href="https://github.com/javier1234559/"><img src="https://img.shields.io/badge/-Python-black?style=flat-square&logo=python" alt="Python" /></a>
    <a href="https://github.com/javier1234559/"><img src="https://img.shields.io/badge/-Dart-black?style=flat-square&logo=Dart&logoColor=#009688" alt="Dart" /></a>
</p>

</section>

<style>
  .wrapper {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
  }

  .outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.075rem var(--outline-color);
  }

  .gradient-color {
    --gradient-text-from: #5433ff;
    --gradient-text-via: #20bdff;
    --gradient-text-to: #a5fecb;
  }

  .outline-color {
    --outline-color: var(--text-heading);
  }

  @media (prefers-color-scheme: dark) {
    .gradient-color {
      --gradient-text-from: #a5fecb;
      --gradient-text-via: #20bdff;
      --gradient-text-to: #a5fecb;
    }
    .outline-color {
      --outline-color: transparent;
    }
  }

  .name {
    font-size: 3rem;
    margin: 0;
    letter-spacing: -2px;
    line-height: 3.5rem;
  }

  .subtext {
    color: var(--text-heading);
    font-size: 1.25rem;
    letter-spacing: -0.51px;
    line-height: 2rem;
    margin-top: 0.5rem;
  }

  .cli-command {
    white-space: nowrap;
    overflow: auto;
  }

  @media (min-width: 640px) {
    .name {
      font-size: 4rem;
      line-height: 4.75rem;
    }
    .subtext {
      font-size: 1.5rem;
      letter-spacing: -0.51px;
      line-height: 2rem;
      margin-top: 0.5rem;
    }
  }
</style>
