---
import { TextRevealTW } from '@/components/feature/TextRevealTW';
import { Image } from 'astro:assets';

const socials = [
  {
    name: 'Facebook',
    src: '/icons/facebook.svg',
    alt: 'Facebook Logo',
    href: 'https://facebook.com/javier1234559'
  },
  {
    name: 'Github',
    src: '/icons/github.svg',
    alt: 'Github Logo',
    href: 'https://github.com/javier1234559'
  },
  {
    name: 'LinkedIn',
    src: '/icons/linkedin.svg',
    alt: 'LinkedIn Logo',
    href: 'https://linkedin.com/in/minh-nhat-nguyen-044535242/'
  },
  {
    name: 'Mail',
    src: '/icons/mail.svg',
    alt: 'Email Icon',
    href: 'mailto:nhat1234559@example.com'
  },
  {
    name: 'Youtube',
    src: '/icons/youtube.svg',
    alt: 'Youtube Logo',
    href: 'https://www.youtube.com/channel/UCwCtwzDvecNgpYkEjAKQDeA'
  }
];
---

<div class="space-y-6">
  <TextRevealTW as="h1" className='text-2xl' content="Hi there 👋! My name is Nhat nguyen " />
  <TextRevealTW as="h2" className='text-5xl font-bold' content="Fullstack Developer" />
  <p class="text-gray-600 max-w-xl fade-up-animate ">
    a Vietnamese guy studying Information Technology at the HCMUTE University of
    Technology and Education. I'm a journalist, designer, and engineer with a
    passion for web development and software. I enjoy leveraging technology to
    solve problems and bring new ideas to life.
  </p>
  <div class="flex items-center gap-4">
    {socials.map((social) => (
      <a 
        href={social.href} 
        class="hover:scale-125 transition-transform duration-200"
        aria-label={social.name}
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image 
          src={social.src} 
          alt={social.alt} 
          width={100} 
          height={100} 
          class="w-10 h-10"
        />
      </a>
    ))}
  </div>
</div>


<style>
  @keyframes fadeUp {
    from {
      transform: translateY(10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .fade-up-animate {
    animation: fadeUp 1s ease-out forwards;
    opacity: 0;
  }
</style>