---
import "../styles/index.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Favicon from "@/components/Favicon.astro";
import ProgressScroll from "@/components/feature/ProgressScroll";
import { ClientRouter } from 'astro:transitions';
import { fade } from 'astro:transitions';
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Nhat Nguyen" />
    <Favicon />
    <slot name="meta" />
    <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
    />
    <ClientRouter />
  </head>
  <ProgressScroll client:load />
  <body class="text-text-body bg-bg-body container mx-auto px-4 sm:px-8" transition:animate={fade({ duration: '0.8s' })}>
    <Header />
    <main id="main" transition:animate="fade">
      <slot name="main" />
    </main>
    <Footer />
  </body>
</html>
